body,html{
    height: 100%;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 500ms ease-out;
      -moz-transition: margin 500ms ease-out;
      -o-transition: margin 500ms ease-out;
      transition: margin 500ms ease-out;
  }
  
  .handle, .main{
	      -webkit-transition: margin 500ms ease-out;
      -moz-transition: margin 500ms ease-out;
      -o-transition: margin 500ms ease-out;
      transition: margin 500ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }
	
	nav.sidebar {
		height: 20px;
	}

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border: 1px #e5e5e5 solid;
	  background-color: #f09d2e;
	  border-radius: 0px 5px 0px ;
	  color: black;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }
	
	nav.sidebar .navbar-nav>li>a {
		color: black;
	}

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #f0ad4e;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -200px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
	  margin-right: 200px;
    }
	nav.sidebar:hover .handle {
		margin-left: 0px;
	}

    .forAnimate{
      opacity: 0;
    }
	
	.handle{
		margin-left: 40px;
		background-color: f0ad4e;
		font-size: 150%;
	}
	.handle:hover {
		margin-left:0px;
	}
	

  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #fceedb;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  
  
  
 