/* used for results_conc.php */

body {
	background-color: white;	
}

.primlang{
	color:red;
}

#hit {
	font-weight: bold;
}

#kwic-input {
	font-family: Tahoma;
	font-size: 12px;
	width: 100%;
	overflow: auto;
	color: black;
}

#ausgabetabelle {
	font-size: 12px;
	border-spacing: 1;
	background-color: #FFEEAA;
	width: 100%;
}

.gerade {
	background-color: #FFDDAA;
}

.ungerade {
	background-color: #FFFFFF;
}

#kwic-output {
	font-family: Tahoma;
	overflow:auto;
	padding: 0px;
	border-spacing: 0;
	width: 100%;
	border-width: thin;
}

#context-old {
	position: absolute;
	top:	467px;
	height: 80px;
	margin:	4px;
	left: 0;
	width: 100%;
	font-size: small;
	color: black;
	border-width: thin;
}

#context {
	position: fixed;
	top:	550px;
	height: 100px;
	margin:	0px;
	overflow: auto;
	left: 0;
	width: 99%;
	font-size: small;
	color: black;
	border-width: thin;
}

.match {
	font-color: red;
}
