<html>

<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title translate>Corpus Query interface</title>
		<link rel="shortcut icon" href="img/jgu.ico">
        <link href="dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="dist/css/ngDialog.min.css">
        <link href="dist/css/ngDialog-theme-default.min.css" rel="stylesheet">
        <link rel="stylesheet/less" type="text/css" href="styl.less">
		<link rel="stylesheet" type="text/css" href="css/nav.css">
		<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8.17.custom.css"/>
		<!--<link rel="stylesheet" href="css/keyboard.css" type="text/css"></link>-->
        <script src="vendor/less.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
		<script src="vendor/ui-bootstrap-tpls-0.12.1.min.js"></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
		<script src="dist/js/angular-gettext.js"></script>
		<script src="dist/js/ngDialog.min.js"></script>
		<script type="text/javascript" src="dist/js/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script type="text/javascript" src="dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jsfunctions.js"></script>
		<script type="text/javascript" src="js/translations.js"></script>
        <!--<script type="text/javascript" src="js/initDialogs.js"></script>-->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body ng-app="corpus">
        <div class="container-fullwidth">
            <!-- <div class="col-md-1">
                <div class="col-md-3"></div>
                <div class="col-md-9 header"></div>
            </div> -->
            <div class="row">
                <!-- <div class="col-md-1" style="padding-right: 0px; padding-left: 0px;">
                    <div class="col-md-8 header"></div>
                    <div class="col-md-4"></div>
                </div> -->
                <a go-click="/">
                    <div class="navbar navbar-default header" role="navigation">
                            <div class="col-sm-3">
                                <img src="img/birm_logo.png" style="height: 60%; margin-top: 20px; margin-left: 5px;">
                            </div>
                            <div class="col-sm-6" style="text-align: center;">
                                <h1 translate style="color: white;">Parallel corpus</h1>
                            </div>
                            <div class="col-sm-3">
                                <!-- [
                                <span class="languageSwitch" ng-click="switchLanguage('pl_PL')">pl</span>
                                <span class="languageSwitch" ng-click="switchLanguage('en')">en</span>
                                <span class="languageSwitch" ng-click="switchLanguage('de_DE')">de</span>
                                ] -->
                            </div>
                    </div>
                </a>
                <!-- <div class="col-md-1" style="padding-right: 0px; padding-left: 0px;">
                    <div class="col-md-4"></div>
                    <div class="col-md-8 header"></div>
                </div> -->
        </div>
            <!-- <div class="col-md-1">
                <div class="col-md-9"></div>
                <div class="col-md-3 header"></div>
            </div> -->
        </div>
        <div ng-view></div>
		<script>
			$(document).on('click', '.dropdown-menu', function (e) {
				e.stopPropagation();
			});
		</script>
        <script src="jsapp/corpus.js"></script>
        <script src="jsapp/settings/settings.js"></script>
        <script src="jsapp/languageQuery/languageQuery.js"></script>
        <script src="jsapp/languageQuery/queryRow/queryRow.js"></script>
		<script src="jsapp/languageQuery/metadata/metadata.js"></script>
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </body>

</html>
