

<div class="col-lg-12" ng-show="showTokensInBetween" style="margin-top: 5px; margin-bottom: 5px; padding-left: 2px; padding-right: 2px; text-align: right;">
    <p><small><b>Tokexxxns in between:</b></small></p>



        <input id="from_to" type="number" class="form-control" placeholder="from" ng-model="queryRow.from">
        <input id="from_to" type="number" class="form-control" placeholder="to" ng-model="queryRow.to">
    
</div>
<div  id="placeholders" class="col-lg-12">
    <div class="form-group col-lg-4">
        <input type="text" class="form-control" placeholder="Tokennn"  ng-model="queryRow.token" onkeyup='getSuggestion("queryRow.token", "word")'>
    </div>
    <div class="form-group col-lg-4">
        <input type="text" class="form-control" placeholder="Lexeme1105"  ng-model="queryRow.lexeme" onkeyup='getSuggestion("queryRow.token", "lemma")'>
    </div>
    <div class="form-group col-lg-4">
        <input type="text" class="form-control" placeholder="Gram. tag:"  ng-model="queryRow.gramTag">
    </div>
</div>
<div class="options">
        <label class="checkbox-inline">
            <input type="checkbox"  value=""  ng-model="queryRow.beginWith"> <small>begins with</small>
        </label>
        <label class="checkbox-inline">
            <input type="checkbox"  value=""  ng-model="queryRow.endWith"> <small>ends with</small>
        </label>
        <label class="checkbox-inline">
            <input type="checkbox"  value=""  ng-model="queryRow.caseSensitive"> <small>case sensitive</small>
        </label>
		<label class="checkbox-inline">
			<input type="checkbox" value="" ng-model="queryRow.negate"> <small>negation</small>
		</label>
</div>
