<!--<span class="col-sm-12" ng-show="showTokensInBetween" style="float: right; text-align: right">
    <p style="display: inline-block;"><small><b>Tokens in between:</b></small></p>
        <input style="width: 10%; display: inline-block; margin-top: 5px; margin-bottom: 5px;" id="from_to" type="number" class="form-control" placeholder="from" ng-model="queryRow.from">
        <input style="width: 10%; display: inline-block; margin-top: 5px; margin-bottom: 5px;" id="from_to" type="number" class="form-control" placeholder="to" ng-model="queryRow.to">
</span>-->
<div  id="placeholders" class="col-sm-12" >
    <div class="form-group col-sm-4" style="margin-right:1px; width:33%; margin-bottom: 5px;">
        <input type="text" placeholder="{{'Token'|translate}}" id="{{ 'advToken_' + index + '_' + language }}" ng-model="queryRow.token" ng-keyup="autocmp('advToken_' + index + '_' + language, 'word')" class="form-control" style="margin-right: 1px">
    </div>
    <div class="form-group col-sm-4" style="margin-right:1px; width:33%; margin-bottom: 5px;">
        <input type="text" placeholder="{{'Lexeme'|translate}}" class="form-control" id="{{ 'advLemma_' + index + '_' + language }}" ng-model="queryRow.lexeme" ng-keyup="autocmp('advLemma_' + index + '_' + language, 'lemma')" style="margin-right: 1px">
    </div>
    <div class="form-group col-sm-4" style="margin-right:1px; width:33%; margin-bottom: 5px;">
        <input type="text" placeholder="{{'Gram. tag:'|translate}}" class="form-control" id="advTag" ng-model="queryRow.gramTag" style="margin-right: 1px">
    </div>
</div>
<div class="options">
        <label class="checkbox-inline">
            <input type="checkbox"  value="" ng-model="queryRow.beginWith"><span style="margin-top: 3px; display:inline-block;"><translate>begins with</translate></span></input>
        </label>
        <label class="checkbox-inline">
            <input type="checkbox"  value="" ng-model="queryRow.endWith"> <span style="margin-top: 3px; display:inline-block;"><translate>ends with</translate></span></input>
        </label>
        <label class="checkbox-inline">
            <input type="checkbox"  value="" ng-model="queryRow.caseSensitive"> <span style="margin-top: 3px; display:inline-block;"><translate>case sensitive</translate></small></input>
        </label>
		<span ng-show="showTokensInBetween" style="margin-left: 50px">
		<p style="display: inline-block;" ng-show="showTokensInBetween"><small><b><translate>Tokens in between:</translate></b></small></p>
			<input style="width: 8%; display: inline-block;" id="from_to" type="number" class="form-control-small" placeholder="{{'from'|translate}}" ng-model="queryRow.from">
			<input style="width: 8%; display: inline-block;" id="from_to" type="number" class="form-control-small" placeholder="{{'to'|translate}}" ng-model="queryRow.to">
		</span>
		<!--<label class="checkbox-inline">
			<input type="checkbox" value="" ng-model="queryRow.negate"> <small>negation</small>
		</label>-->
</div>
